@font-face {
	font-family: FontName;
	src: url(Jay.otf);

}
html {
	margin:0px;
	padding:0px;
}

body {
	background-color: Cornsilk;
	font-size:100px;
}

#mensaje{
	border-radius: 8px;
}

#escribir{
	text-align: center;
}

#eventos{
	position: fixed;
	border: 2px solid;
	border-radius: 5px;
	right: -35%;
	top: 90px;
	width: 50%;
}

#eventos span{
	background-color:grey;
}

#eventos.mover{
	right:0%;
}

#titulo{
	text-align: center;
	font-family: 'FontName';
	border: 12px solid;
	border-radius: 50px;
	margin-top:0rem;
	margin-left:10%;
	margin-right:10%;
	font-size: 3rem;
}

#contenido{
	font-size: 1.2rem;
}

#texto{
	background-color: white;
	margin-right: 12%;
	margin-left: 12%;
	margin-bottom: 1rem;
	height: 25rem;
	overflow: scroll;
	border-radius: 10px;
}

.contenedor{
	border: 12px solid;
	border-radius: 50px;
	text-align: center;
}

.formu{
	font-size=10rem;
}
#amigos{
	text-align: center;
}
.amigos{
	border: 2px solid;
	border-radius: 10px;
}

#arriba {
	margin-top:0px;
	margin-bottom:0.5rem;
	overflow: hidden;
}

.barriba{
	float: left;
	font-size:0.5rem;
	margin-right:0.2rem;
}

.borde{
	border: 1px solid;
        border-radius: 3px;
}

.msgMio{
	text-align: center;
	background-color: powderBlue;
	padding-left: 10px;
	margin-left: 50%;
	border-radius: 10px;
	margin-right: 10px;
	width: auto;
	height: auto;
	word-wrap: break-word;
}

.msgOtro{
	text-align: center;
        background-color: lemonChiffon;
        padding-left: 10px;
        margin-right: 50%;
        border-radius: 10px;
        margin-left: 10px;
	height: auto;
	word-wrap: break-word;

}
.oscuro{
	background-color:grey;
}
.menSinLeer{
	background-color:green;
}
