@font-face {
	font-family: FontName;
	src: url(Jay.otf);

}

body {
	background-color: Cornsilk;
	font-size:100px;
}

#titulo{
	text-align: center;
	font-family: 'FontName';
	border: 12px solid;
	border-radius: 50px;
	margin-left:15%;
	margin-right:15%;
	font-size: 8rem;
}

#contenido{
	font-size: 3rem;
}

.contenedor{
	border: 12px solid;
	border-radius: 50px;
	text-align: center;
}

.formu{
	font-size=10rem;
}
