{%extends "base.html" %}


{% block title  %}Mensajes{% endblock  %}

{% block content  %}
<div id="amigos">
{%for i in amigos%}
<span class="amigos" class="my-3">{{i}}</span>
{%endfor%}
</div>
<div>
	<span id="alerta" class="blanco">!</span>
</div>

<div id="texto" class="container border border-primary" style="width: 75%; height: 550px;"></div>
<div id="escribir">
    <input type="text" id="mensaje"  placeholder="mensaje" required>
    <button id="sendBtn">Enviar</button>
</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock  %}

